<div class="bg-image d-flex justify-content-center align-items-center"
style="
  background-image: url('https://wallpaperaccess.com/full/1426875.jpg');
  height: 100vh;
">

<div class="container">
    <div class="mt-1 mb-2">
        <img src="https://th.bing.com/th/id/R.1b8b8499f1cf14270537011451e74ec4?rik=oDjS1bsnsQfNOA&riu=http%3a%2f%2feschool.msu.ac.th%2fapp%2fimg%2flogoeschool.png&ehk=nqS%2fPb6MTfTu1coUReKElPXWeRe195zIX8dYXk9fQ6Y%3d&risl=&pid=ImgRaw&r=0"  width="70" height="80">
        <button type="button" style = "float: right;" class="btn btn-outline-success" (click)="logout()">Logout</button>
      </div>
   
    <div class="row">
        <div class="col-md-5 mt-5">
            <div class="card border-0 shadow p-3">
                <div class="form-floating mb-3 text-center">
                     <h5 class="text-center text-danger">Student Details</h5>
                         <button type="button" class="btn btn-outline-success text-center" >
                         <a href="/s-studentdetails" class="text-center text-warning" >Click Here</a>
                         </button>
                </div>
             </div>
        </div>
    </div>

   <div class="row">
       <div class="col-md-5 mt-5">
           <div class="card border-0 shadow p-3">
               <div class="form-floating mb-3 text-center">
                    <h5 class="text-center text-danger">Download Assignment and Result</h5>
                        <button type="button" class="btn btn-outline-success text-center" >
                        <a href="/s-assigresult" class="text-center text-warning" >Click Here</a>
                        </button>
               </div>
            </div>
       </div>
   </div>

     <div class="row">
        <div class="col-md-5 mt-5">
            <div class="card border-0 shadow p-3">
                <div class="form-floating mb-3 text-center">
                     <h5 class="text-center text-danger">Download Timetable</h5>
                         <button type="button" class="btn btn-outline-success text-center" >
                         <a href="/s-timetable" class="text-center text-warning" >Click Here</a>
                         </button>
                </div>
             </div>
        </div>
    </div> 
 </div>